<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.AccountDao">

    <resultMap type="AppUser" id="standardTpadUserMap">
        <id property="id" column="id" javaType="String" jdbcType="VARCHAR"/>
        <result property="uname" column="uname" javaType="String" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" javaType="String" jdbcType="VARCHAR"/>
        <result property="account" column="account" javaType="String" jdbcType="VARCHAR"/>
        <result property="psd" column="psd" javaType="String" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" javaType="String" jdbcType="VARCHAR"/>
        <result property="utype" column="utype" javaType="String" jdbcType="VARCHAR"/>
        <result property="uaddress" column="uaddress" javaType="String" jdbcType="VARCHAR"/>
        <result property="rid" column="rid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="create_date" column="create_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="update_date" column="update_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="other" column="other" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateAccount" parameterType="map">
        UPDATE alink.f_user_account
        <set>
            <if test="mobile != null">mobile=#{mobile},</if>
            <if test="uname != null">uname=#{uname},</if>
            <if test="pwd != null">pwd=#{pwd},</if>
        </set>
        WHERE id=#{uid}
    </update>

    <select id="findByUser" resultType="int" parameterType="string">
        SELECT COUNT(1) from alink.f_user_account where uname=#{uname}
    </select>

</mapper>