<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.AlinkLoginDao">

    <insert id="saveLoginOutLog" parameterType="string">
        INSERT INTO alink.f_login_out_log (uid,create_date) VALUES(#{uid},NOW())
    </insert>

</mapper>