<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.ProjectDao">

    <resultMap type="Mesh" id="standardMeshMap">
        <id property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="mname" column="mname" javaType="String" jdbcType="VARCHAR"/>
        <result property="mesh_id" column="mesh_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="is_repeat" column="is_repeat" javaType="String" jdbcType="VARCHAR"/>
        <result property="pwd" column="pwd" javaType="String" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" javaType="String" jdbcType="VARCHAR"/>
        <result property="project_id" column="project_id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="create_date" column="create_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="update_date" column="update_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="other" column="other" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="Project" id="standardProjectMap">
        <id property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="add" column="add" javaType="String" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" javaType="String" jdbcType="VARCHAR"/>
        <result property="create_date" column="create_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="update_date" column="update_date" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="other" column="other" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findRepeatIdByUid" resultMap="standardMeshMap" parameterType="string">
        SELECT * from ( SELECT * from alink.f_mesh m WHERE m.uid = #{uid} and LENGTH(m.mesh_id)=8) as a where a.mesh_id LIKE CONCAT(#{mesh_id},'%')
    </select>

    <select id="findFullyRepeatIdByUid" resultType="int" parameterType="string">
        SELECT COUNT(1) from alink.f_mesh where mesh_id = #{mesh_id}
    </select>

    <select id="findRepeatNameByUid" resultType="string">
        SELECT mname from alink.f_mesh where uid = #{uid} and mname=#{mname} and project_id=#{projectId}
    </select>

    <select id="findRepeatPnameByUid" resultType="string" parameterType="string">
        SELECT p.name from alink.f_project p where p.uid = #{uid} and p.name=#{name}
    </select>

    <select id="findRepeatMid" resultType="int">
        SELECT COUNT(*) from alink.f_place where uid = #{uid} and mid = #{mid}
    </select>

    <insert id="createMesh" parameterType="com.tpadsz.after.entity.Mesh">
        INSERT INTO alink.f_mesh (mname,mesh_id,pwd,uid,project_id,create_date,update_date) VALUES(#{mname},#{mesh_id},#{pwd},#{uid},#{project_id},NOW(),NOW())
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="createPlace" parameterType="com.tpadsz.after.entity.AdjustPlace">
        INSERT INTO alink.f_place (place_id,pname,uid,mid,create_date,update_date) VALUES(#{placeId},#{pname},#{uid},#{mid},NOW(),NOW())
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="createOldMesh" parameterType="com.tpadsz.after.entity.Mesh">
        INSERT INTO alink.f_mesh (mname,mesh_id,pwd,uid,project_id,create_date,update_date,other) VALUES(#{mname},#{mesh_id},#{pwd},#{uid},#{project_id},NOW(),NOW(),'old')
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="createOldDuplicatedMesh" parameterType="com.tpadsz.after.entity.Mesh">
        INSERT INTO alink.f_mesh (mname,mesh_id,is_repeat,pwd,uid,project_id,create_date,other) VALUES(#{mname},#{mesh_id},#{uid},#{pwd},#{uid},#{project_id},NOW(),'old')
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="createProject" parameterType="com.tpadsz.after.entity.Project">
        INSERT INTO alink.f_project (name,uid,create_date,update_date) VALUES(#{name},#{uid},NOW(),NOW())
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="createOldProject" parameterType="com.tpadsz.after.entity.Project">
        INSERT INTO alink.f_project (name,uid,create_date,update_date,other) VALUES(#{name},#{uid},NOW(),NOW(),'old')
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findMeshId" resultType="string" parameterType="int">
        select mesh_id from
        (SELECT * from alink.create_mesh_id ORDER BY id ASC LIMIT #{limitNum}) as a
        ORDER BY a.id DESC limit 1
    </select>

    <delete id="deleteMeshId" parameterType="int">
        DELETE FROM alink.create_mesh_id WHERE id=(select id from
        (SELECT * from alink.create_mesh_id ORDER BY id ASC LIMIT #{limitNum}) as a
        ORDER BY a.id DESC limit 1)
    </delete>

    <insert id="recordMeshId" parameterType="string">
        INSERT INTO alink.repeated_mesh_id (mesh_id) VALUES(#{mesh_id})
    </insert>

    <select id="findProListByUid" resultMap="standardProjectMap" parameterType="string">
        SELECT * from alink.f_project where uid = #{uid} and other NOT IN ('old','freezing','freezingOld') or uid=#{uid} and other is null ORDER BY update_date DESC,create_date DESC
    </select>

    <select id="findOldProByUid" resultMap="standardProjectMap">
        SELECT * from alink.f_project where uid = #{uid} and other ='old'
    </select>

    <update id="rename">
        <if test="renameFlag == 0">
        update alink.f_project p set p.name = #{name},p.update_date = NOW() where p.id=#{id}
        </if>
        <if test="renameFlag == 1">
            update alink.f_mesh m set m.mname = #{name},m.update_date = NOW() where m.id=#{id}
        </if>
    </update>

    <select id="findProDetailByUid" resultMap="standardMeshMap">
        SELECT * from alink.f_mesh where project_id = #{projectId} and uid = #{uid} ORDER BY update_date DESC, create_date DESC
    </select>


    <!--删除部分-->
    <select id="findLightByMid" resultType="int" parameterType="int">
        SELECT COUNT(1) from alink.f_light where mid=#{id}
    </select>

    <select id="findNewMeshIdByMid" resultType="string" parameterType="int">
        SELECT mesh_id from alink.f_mesh where id=#{id} and is_repeat=0 and other NOT IN ('old','fromOld') or id=#{id} and is_repeat=0  and other IS NULL
    </select>

    <select id="findProjectById" resultMap="standardProjectMap" parameterType="integer">
        SELECT * from alink.f_project where id = #{projectId}
    </select>

    <select id="findMeshById" resultMap="standardMeshMap" parameterType="integer">
        SELECT * from alink.f_mesh where id = #{id}
    </select>

    <update id="freezing">
        <if test="flag == 0">
            update alink.f_project p set p.other = 'freezing',p.update_date = NOW() where p.id=#{id}
        </if>
        <if test="flag == 1">
            update alink.f_mesh m set m.other = 'freezing',m.update_date = NOW() where m.id=#{id}
        </if>
    </update>

    <update id="freezingOld">
        <if test="flag == 0">
            update alink.f_project p set p.other = 'freezingOld',p.update_date = NOW() where p.id=#{id}
        </if>
        <if test="flag == 1">
            update alink.f_mesh m set m.other = 'freezingOld',m.update_date = NOW() where m.id=#{id}
        </if>
    </update>

    <update id="unfreezing">
        <if test="flag == 0">
            update alink.f_project p set p.other = NULL ,p.update_date = NOW() where p.id=#{id}
        </if>
        <if test="flag == 1">
            update alink.f_mesh m set m.other = NULL ,m.update_date = NOW() where m.id=#{id}
        </if>
    </update>

    <update id="unfreezingOld">
        <if test="flag == 0">
            update alink.f_project p set p.other = 'old' ,p.update_date = NOW() where p.id=#{id}
        </if>
        <if test="flag == 1">
            update alink.f_mesh m set m.other = 'old' ,m.update_date = NOW() where m.id=#{id}
        </if>
    </update>

    <select id="querySidByPid" resultType="integer">
        SELECT id from alink.f_scene where uid=#{uid} and mid IN (
        SELECT m.id from alink.f_mesh m where m.project_id=#{id} and m.uid = #{uid}
        )
    </select>

    <delete id="deleteSceneByPid" parameterType="java.util.List">
        DELETE FROM alink.f_scene
        WHERE mid IN (SELECT m.id from (SELECT id from alink.f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <delete id="deleteSceneSettingBySid">
        DELETE FROM alink.f_scene_setting
        WHERE sid IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deletePlaceByPid">
        DELETE FROM alink.f_place WHERE mid IN (SELECT m.id from (SELECT id from alink.f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <delete id="deleteGroupByPid">
        DELETE FROM alink.f_group WHERE mid IN (SELECT m.id from (SELECT id from alink.f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <delete id="deleteGroupSettingByPid">
        DELETE FROM alink.f_group_setting WHERE mid IN (SELECT m.id from (SELECT id from alink.f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <delete id="deleteMeshByMid" parameterType="int">
        DELETE FROM alink.f_mesh WHERE id=#{id}
    </delete>

    <delete id="deleteSceneSettingByMid">
        DELETE FROM alink.f_scene_setting WHERE sid IN (SELECT s.id from (SELECT id from alink.f_scene where mid=#{id} and uid = #{uid}) AS s )
    </delete>

    <delete id="deleteSceneByMid">
        DELETE FROM alink.f_scene WHERE mid=#{id} and uid=#{uid}
    </delete>

    <delete id="deleteGroupSettingByMid" parameterType="int">
        DELETE FROM alink.f_group_setting WHERE mid=#{id}
    </delete>

    <delete id="deleteGroupByMid" parameterType="int">
        DELETE FROM alink.f_group WHERE mid=#{id}
    </delete>

    <delete id="deletePlaceByMid" parameterType="int">
        DELETE FROM alink.f_place WHERE mid=#{id}
    </delete>

    <select id="findLightByPid" resultType="int">
        SELECT COUNT(1) FROM alink.f_light WHERE mid IN (
        SELECT m.id from alink.f_mesh m where m.project_id=#{id} and m.uid = #{uid}
        )
    </select>

    <delete id="deleteMeshByPid">
        DELETE FROM alink.f_mesh WHERE id IN (SELECT m.id from (SELECT id from alink.f_mesh where project_id=#{id} and uid = #{uid}) AS m )
    </delete>

    <delete id="deleteProByPid">
        DELETE FROM alink.f_project WHERE id=#{id} and uid = #{uid}
    </delete>


    <select id="findNewMeshIdByPid" resultType="string">
        SELECT mesh_id from alink.f_mesh where project_id=#{id} and is_repeat=0 and uid = #{uid} and other NOT IN ('old','fromOld') or project_id=#{id} and is_repeat=0 and uid = #{uid} and other IS NULL
    </select>

    <insert id="insertMeshId" parameterType="java.util.List" useGeneratedKeys="false">
        insert into alink.repeated_mesh_id
        (mesh_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item}
            )
        </foreach>
    </insert>

    <insert id="saveDeleteLog" parameterType="com.tpadsz.after.entity.DeleteLog">
        INSERT INTO alink.f_delete_log(delete_date,uid,lightFlag) VALUES(#{delete_date},#{uid},#{lightFlag})
    </insert>
    <!--删除部分-->


    <update id="oldMove">
            update alink.f_mesh set project_id = #{projectId},other = 'fromOld',update_date = NOW() where mesh_id=#{meshId} and uid=#{uid}
    </update>

</mapper>