<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.ConsoleLogDao">

    <update id="saveLog" parameterType="map">
     INSERT INTO f_console_log (
		uid,
		mid,
		sid,
		gid,
		lmac,
		x,
		y,
		method,
		cmd,
		log_date
	  )
	 VALUES(#{uid},#{meshId},#{sceneId},#{gid},#{lmac},#{x},#{y},#{method},#{cmd},NOW())
    </update>

</mapper>