<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.GroupOperationDao">

    <!--有区域-->
    <insert id="saveGroup" parameterType="com.tpadsz.after.entity.Group" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO f_group
        (group_id,gname,mid,create_date,update_date,pid)
        VALUES(#{groupId},#{gname},#{mid},NOW(),NOW(),#{pid})
    </insert>

    <insert id="saveGroupLog">
        INSERT INTO f_group_log
        (uid,mesh_id,operation,blt_flag,create_date,group_id)
        VALUES(#{uid},#{meshId},#{operation},#{bltFlag},NOW(),#{groupId})
    </insert>

    <select id="getMeshSerialNo" resultType="integer">
        SELECT id FROM f_mesh WHERE mesh_id=#{meshId} and uid=#{uid}
    </select>

    <select id="getGroupIdById" resultType="string">
        SELECT group_id FROM f_group WHERE id=#{id}
    </select>

    <update id="updateGroupNameByMid">
        UPDATE f_group
        SET gname=#{gname},update_date=now()
        WHERE mid=#{mid} and group_id=#{groupId}
    </update>

    <update id="updateGroupNameByMeshId">
        UPDATE f_group
        SET gname=#{gname},update_date=now()
        WHERE mid=(select id from f_mesh where mesh_id=#{meshId}) and group_id=#{groupId}
    </update>

    <resultMap id="groupLists" type="com.tpadsz.after.entity.GroupList">
        <id property="id" column="id"/>
        <!--property实体类中定义的属性 column数据库中字段名-->
        <result property="groupId" column="group_id"/>
        <result property="gname" column="gname"/>
        <!--<result property="mid" column="mid"/>-->
        <!--<result property="createDate" column="create_date"/>-->
        <!--<result property="updateDate" column="update_date"/>-->
        <!-- property指的是在bean中字段名 ofType类的全定向名 -->
        <!--一对多-->
        <collection property="lightLists" ofType="com.tpadsz.after.entity.LightList">
            <id property="lid" column="lid"/>
            <result property="lmac" column="lmac"/>
            <result property="lname" column="lname"/>
            <result property="gid" column="gid"/>
            <result property="typeId" column="type_id"/>
            <result property="productId" column="product_id"/>
            <!--<association property="typeList" javaType="com.tpadsz.after.entity.TypeList">-->
            <result property="productName" column="product_name"/>
            <result property="irrEff" column="irr_eff"/>
            <result property="power" column="power"/>
            <result property="voltage" column="voltage"/>
            <result property="current" column="current"/>
            <result property="tname" column="tname"/>
            <result property="tnum" column="tnum"/>
            <!--</association>-->
        </collection>
    </resultMap>

    <select id="getGroupAll" resultMap="groupLists">
        SELECT
    	    g.id,
        	g.group_id,
        	g.gname,
#         	g.mid,
        	l.id as lid,
        	l.lmac,
        	l.lname,
        	l.gid,
        	l.type_id,
        	l.product_id
#         	p.product_name,
#         	p.irr_eff,
#         	p.power,
#         	p.voltage,
#         	p.current,
#         	p.tname,
#         	p.tnum
        FROM
    	  (
        	f_light l
        	RIGHT JOIN ( SELECT id, group_id, gname, mid, create_date, update_date FROM f_group WHERE mid =
        	#{mid} ) g ON l.gid = g.id and l.mid=g.mid
        	)
        	LEFT JOIN f_product p ON l.product_id = p.product_id
        ORDER BY
        	group_id
    </select>

    <select id="getLightColor" resultType="map">
        select x,y from f_console_log WHERE lmac=#{lmac} order by log_date desc limit 1
    </select>

    <select id="getGid"  resultType="integer" parameterType="com.tpadsz.after.entity.Group">
        select id FROM  f_group WHERE mid=#{mid} and group_id=#{groupId}
    </select>

    <select id="getLightNum"  resultType="integer" parameterType="com.tpadsz.after.entity.Group">
        SELECT count(*) FROM  f_light WHERE gid=#{gid}
    </select>

    <update id="updateGidInLight" parameterType="com.tpadsz.after.entity.Group">
        UPDATE f_light
        SET gid = ( SELECT id FROM f_group WHERE mid=#{mid} AND group_id = 0 limit 1)
        WHERE
	      gid = #{gid}
    </update>

    <delete id="deleteGroup" parameterType="com.tpadsz.after.entity.Group">
        DELETE from f_group WHERE id=#{gid}
    </delete>

    <select id="getSceneSeriaNo" resultType="integer">
        SELECT id FROM f_scene WHERE mid=#{mid} and scene_id=#{sceneId} and uid=#{uid} limit 1
    </select>

    <select id="getGroupConsoleLogByGid" resultType="com.tpadsz.after.entity.GroupConsoleLog">
        select x,y,lmac from f_console_log WHERE gid=#{groupId} and uid=#{uid} and mid=#{meshId} order by log_date desc limit 1
    </select>

    <resultMap id="groups" type="com.tpadsz.after.entity.GroupList">
        <id property="id" column="id"/>
        <!--property实体类中定义的属性 column数据库中字段名-->
        <result property="groupId" column="group_id"/>
        <result property="mid" column="mid"/>
        <!-- property指的是在bean中字段名 ofType类的全定向名 -->
        <!--一对多-->
        <collection property="lightLists" ofType="com.tpadsz.after.entity.LightList">
            <id property="lid" column="lid"/>
            <result property="lmac" column="lmac"/>
            <result property="gid" column="gid"/>
            <!--<association property="typeList" javaType="com.tpadsz.after.entity.TypeList">-->
            <!--</association>-->
        </collection>
    </resultMap>

    <select id="getPid" resultType="integer">
        select id from f_place WHERE place_id=#{placeId} and mid=(select id from f_mesh where mesh_id=#{meshId})
    </select>

    <insert id="savePlace" parameterType="com.tpadsz.after.entity.AdjustPlace" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO f_place (place_id,pname,uid,mid,create_date,update_date)
        VALUES (#{placeId},#{pname},#{uid},#{mid},now(),now())
    </insert>

    <select id="getGname" resultType="string">
        select gname FROM  f_group WHERE mid=#{mid} and gname=#{gname}
    </select>

    <select id="getGnameByPidAndMeshId" resultType="string">
        select gname FROM  f_group WHERE mid=(select id from f_mesh where mesh_id=#{meshId}) and gname=#{gname}
    </select>

    <select id="getDefaultPlace" resultType="integer">
        SELECT id FROM f_place WHERE mid=#{mid} and uid=#{uid} and place_id=1
    </select>

    <insert id="saveGroupSetting">
        INSERT INTO f_group_setting
        ( mid, sid, x, y, create_date, update_date, gid )
        VALUES
	      (#{mid},#{sid},#{x},#{y},now(),now(),(select id from f_group where group_id=#{groupId} and mid=#{mid}))
    </insert>

    <delete id="deleteGroupSetting">
        DELETE FROM f_group_setting WHERE sid=#{sid}
    </delete>

    <update id="moveGroup">
        update f_group set pid=#{pid} where mid=(select id from f_mesh where mesh_id=#{meshId}) and  group_id=#{groupId}
    </update>

    <update id="updateLightPid">
        update f_light
        set pid=#{pid}
        where mid=(select id from f_mesh where mesh_id=#{meshId}) and gid=(select id from f_group where mid=(select id from f_mesh where mesh_id=#{meshId}) and group_id=#{groupId})
    </update>

    <select id="getGidByGroupIdAndMeshId" resultType="integer">
        select id from f_group where group_id=#{groupId} and mid=(select id from f_mesh where mesh_id=#{meshId} and
                                                                                              uid=#{uid})
    </select>

    <delete id="deleteGroupByPid">
        DELETE from f_group WHERE pid=#{pid}
    </delete>

    <select id="getLastGroup" resultType="integer">
        SELECT group_id FROM f_group WHERE mid=#{mid} ORDER BY group_id DESC LIMIT 1
    </select>

    <select id="getGidAndPid" resultType="map">
        SELECT id,pid FROM f_group WHERE group_id=#{groupId} and mid=(SELECT id from f_mesh WHERE  mesh_id=#{meshId}
       and uid=#{uid})
    </select>

    <select id="getSalesman" resultType="integer">
        select count(*)  from f_user_role u,f_role r where u.user_id=#{uid} and u.role_id=r.id and r.role_type='salesman'
    </select>

    <select id="getUidByMeshId" resultType="string">
        select uid from f_mesh where mesh_id=#{meshId}
    </select>

</mapper>