<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.LightAjustDao">

    <insert id="saveLightAjustLog">
        INSERT INTO alink.f_light_ajust_log( mesh_id, blt_flag,operation,create_date, lmacs )
        VALUES(#{meshId}, #{bltFlag},#{operation},now(), #{lmacs})
    </insert>

    <update id="updateLightName">
        UPDATE alink.f_light SET lname=#{lname},update_date=now() WHERE lmac=#{lmac}
    </update>

    <insert id="saveLight" parameterType="com.tpadsz.after.entity.LightList">
        INSERT INTO alink.f_light ( product_id, lmac, lname, mid, gid, create_date, update_date )
        VALUES( #{productId},#{lmac},#{lname},#{mid},#{gid},now(),now() )
    </insert>

    <delete id="deleteLight" >
        DELETE from alink.f_light WHERE lmac=#{lmac}
    </delete>

    <update id="updateLightGid">
        UPDATE alink.f_light SET gid=#{gid} WHERE lmac=#{lmac}
    </update>

    <!--<insert id="saveLightColor">-->
        <!--INSERT INTO alink.f_console_log (uid,mid,gid,lmac,x,y,cmd,log_date)-->
	    <!--VALUES(#{uid},#{meshId},'0',#{lmac},#{x},#{y},'1',now())-->
    <!--</insert>-->

    <select id="getLid" resultType="map">
        select id,mid from alink.f_light WHERE  lmac=#{lmac}
    </select>

    <insert id="saveTempLight" parameterType="com.tpadsz.after.entity.LightList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO alink.f_light ( lmac, lname, mid, create_date, update_date ,product_id,gid)
	    values (#{lmac},#{lname},#{mid},now(),now() ,#{productId},
	    (select id from alink.f_group where group_id=#{groupId} and mid=#{mid}))
    </insert>

    <update id="updateLightGidAndMid">
        UPDATE alink.f_light SET gid=#{gid}, mid=#{mid},lname=#{lname},update_date=now() WHERE lmac=#{lmac}
    </update>

    <delete id="deleteLightSettingByLmac">
        DELETE FROM alink.f_light_setting WHERE lid=(select id from alink.f_light WHERE lmac=#{lmac})
    </delete>
</mapper>