<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.PCFileDao">

    <parameterMap id="fileMapper" type="map">
        <parameter property="Author_User_ID" mode="IN"/>
        <parameter property="File_Name" mode="IN"/>
        <parameter property="File_Path" mode="IN"/>
        <parameter property="File_Version_Name" mode="IN"/>
        <parameter property="Author_User_Name" mode="IN"/>
        <parameter property="Last_Edit_User_Name" mode="IN"/>
        <parameter property="Mesh_ID" mode="IN"/>
        <parameter property="Mesh_Name" mode="IN"/>
        <parameter property="info" mode="IN"/>
        <parameter property="result" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>

    <select id="saveFile" parameterMap="fileMapper" resultType="map" statementType="CALLABLE">
        CALL save_pc_file(?,?,?,?,?,?,?,?,?,?)
    </select>

    <select id="getUser" resultType="map" parameterType="string">
        SELECT id User_ID,uname User_Name,IFNULL(mobile,'') User_Phone,IFNULL(email,'') User_Email,pwd,salt from f_user_account where account=#{account}
    </select>

    <select id="getFile" resultType="map" parameterType="map">
        select * from f_pc_file where 1=1
        <if test="meshId !=null">
            and file_name=#{fileName}
        </if>
        order by update_date desc limit 1
    </select>

    <select id="getMesh" resultType="string" parameterType="map">
        SELECT mesh_id FROM f_pc_mesh
        WHERE 1=1
        <if test="Project_ID !=null">
            and pid=#{Project_ID}
        </if>
        GROUP BY mesh_id
    </select>

    <select id="getProject" resultType="map" parameterType="map">
        SELECT
            id Project_ID,
            uid User_ID,
            DATE_FORMAT(create_date,'%Y-%m-%d %H:%i:%s') Project_Time,
            DATE_FORMAT(update_date,'%Y-%m-%d %H:%i:%s') Update_Time,
            project_name Project_Name
        FROM f_pc_project
        WHERE 1=1
        <if test="uid !=null">
            and uid=#{uid}
        </if>
        GROUP BY id
    </select>

    <insert id="saveMesh" parameterType="list">
        REPLACE INTO f_pc_mesh(pid,mesh_id,create_date,update_date) VALUES
        <foreach collection="list" item="p" index="index" separator=",">
            (
            #{p.pid},#{p.meshId},now(),now()
            )
        </foreach>
    </insert>

    <insert id="saveUpdateProject" parameterType="map">
        <!-- 查看是否存在,如果存在及更新，否则插入 -->
        <selectKey keyProperty="count" order="BEFORE" resultType="int">
            select count(*) as count from f_pc_project where uid = #{uid}
        </selectKey>
        <choose>
            <when test="count>0">
                update f_pc_project set project_name=#{name} where uid = #{uid}
            </when>
            <otherwise>
                insert into f_pc_project(uid,project_name,create_date,update_date) value (#{uid},#{name},now(),now())
            </otherwise>
        </choose>
    </insert>
</mapper>