<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.PlaceDao">

    <select id="getLastPlace" resultType="integer">
        select place_id from f_place where mid=(select id from f_mesh where mesh_id=#{meshId} and uid=#{uid}) and uid=#{uid} order
        by place_id desc limit 1
    </select>

    <insert id="savePlace" useGeneratedKeys="true" keyProperty="pid" parameterType="com.tpadsz.after.entity.PlaceSave">
        insert into f_place (place_id,pname,uid,mid,create_date,update_date)
        VALUES(#{placeId},#{pname},#{uid},(select id from f_mesh where mesh_id=#{meshId} and uid=#{uid}),now(),now())
    </insert>

    <select id="getPname" resultType="integer">
        select count(*) from f_place where mid=(select id from f_mesh where mesh_id=#{meshId} and uid=#{uid}) and uid=#{uid} and pname=#{pname}
    </select>

    <delete id="deletePlaceByPid">
        DELETE FROM f_place where id=#{pid}
    </delete>

    <update id="updatePname">
        update f_place set pname=#{pname} where id=#{pid}
    </update>

    <select id="getPlaceByMeshId" resultType="map">
        select id as pid,mid from f_place where mid=(select id from f_mesh where mesh_id=#{meshId} and uid=#{uid})
    </select>

    <resultMap id="placeList" type="com.tpadsz.after.entity.PlaceExtend">
        <id column="id" property="pid"/>
        <result column="pname" property="pname"/>
        <result column="place_id" property="placeId"/>
        <collection property="groupList" ofType="com.tpadsz.after.entity.GroupExtend">
            <!--<id property="id" column="id"/>-->
            <!--property实体类中定义的属性 column数据库中字段名-->
            <result property="groupId" column="group_id"/>
            <result property="gname" column="gname"/>
            <!-- property指的是在bean中字段名 ofType类的全定向名 -->
            <!--一对多-->
            <collection property="lightLists" ofType="com.tpadsz.after.entity.LightExtend">
                <id property="lid" column="lid"/>
                <result property="lmac" column="lmac"/>
                <result property="lname" column="lname"/>
                <result property="productId" column="product_id"/>
            </collection>
        </collection>
    </resultMap>


    <select id="getPlacesAndGroups" resultMap="placeList">
        select
            p.id,p.place_id,p.pname,
#     	    g.id,
        	g.group_id,
        	g.gname,
        	l.id as lid,
        	l.lmac,
        	l.lname,
        	l.product_id
        from f_place p left join f_group g on p.id=g.pid
        left join f_light l on g.id=l.gid
        where p.mid=#{mid}
        order by place_id,group_id
    </select>

    <select id="getPlaceByPlaceIdAndMeshId" resultType="string">
        select pname from f_place where mid=(SELECT id FROM f_mesh WHERE mesh_id = #{meshId}) and
                                            place_id=#{placeId}
    </select>

    <select id="getPlaceByGroupIdAndMeshId" resultType="integer">
        select pid from f_group where mid=(select id from f_mesh where mesh_id=#{meshId} and uid=#{uid}) and
                                      group_id=#{groupId}
    </select>

    <select id="getRecoverPlace" resultType="integer">
        SELECT id FROM f_place WHERE mid=#{mid} AND place_id=-1
    </select>

    <select id="getVersionCode" resultType="integer">
        SELECT version_code from f_pc_info where mesh_id=#{meshId} order by version_code desc limit 1
    </select>
</mapper>