<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.PlaceDao">

    <select id="getLastPlace" resultType="integer">
        select place_id from f_place where mid=(select id from f_mesh where mesh_id=#{meshId}) and uid=#{uid} order by place_id desc limit 1
    </select>

    <insert id="savePlace">
        insert into f_place (place_id,pname,uid,mid,create_date,update_date) VALUES(#{placeId},#{pname},#{uid},(select id from f_mesh where mesh_id=#{meshId}),now(),now())
    </insert>

    <select id="getPname" resultType="integer">
        select count(*) from f_place where mid=(select id from f_mesh where mesh_id=#{meshId}) and uid=#{uid} and pname=#{pname}
    </select>

    <delete id="deletePlaceByPid">
        DELETE FROM f_place where id=#{pid}
    </delete>

    <update id="updatePname">
        update f_place set pname=#{pname} where id=#{pid}
    </update>
</mapper>