<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.SceneAjustDao">

    <insert id="saveSceneLog" parameterType="com.tpadsz.after.entity.SceneLog">
        INSERT INTO alink.f_scene_log (scene_id,mesh_id,uid,create_date,operation,blt_flag)
        VALUES(#{sceneId},#{meshId},#{uid},now(),#{operation},#{bltFlag})
    </insert>
    <!--返回主键id-->
    <insert id="saveScene" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO alink.f_scene(scene_id,sname,mid,uid,create_date,update_date)
        VALUES(#{sceneId},#{sname},#{mid},#{uid},now(),now())
    </insert>

    <insert id="saveLightSetting" parameterType="com.tpadsz.after.entity.LightSetting" >
        REPLACE INTO alink.f_light_setting(lid,sid,x,y) VALUES (#{lid},#{sid},#{x},#{y})
    </insert>

    <insert id="saveSceneSetting" parameterType="com.tpadsz.after.entity.SceneSetting">
        replace INTO alink.f_scene_setting(sid,x,y,create_date,update_date) VALUES (#{sid},#{x},#{y},now(),now())
    </insert>

    <insert id="saveGroupSetting" parameterType="com.tpadsz.after.entity.GroupSetting">
        replace into alink.f_group_setting (mid,gid,sid,x,y,create_date,update_date)
        VALUES (#{mid},#{gid},#{sid},#{x},#{y},now(),now())
    </insert>

    <delete id="deleteLightSetting">
        DELETE FROM alink.f_light_setting WHERE sid=#{sid}
    </delete>
</mapper>