<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.TimeLineDao">

    <insert id="createTimeLine" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO f_time_line ( `tname`, `tid`, `repetition`, `week`, `create_date`, `update_date`, `mid` ,`dayObj`, `ischoose`, `item_desc`, `item_set`, `item_tag`)
        VALUES(#{tname}, #{tid}, #{repetition}, #{week}, now( ), now(),( SELECT id FROM f_mesh WHERE
        mesh_id = #{mesh_id} ),#{dayObj},#{ischoose},#{item_desc},#{item_set},#{item_tag})
    </insert>

    <insert id="createTimePoint" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO `f_time_point`( `tsid`, `sid`, `time`, `create_date`, `update_date`, `hour`, `minute`,
        `pos_x`, `detail_sence_id`,light_status) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            (select id from f_time_line where tid=#{item.tid} and mid=(select id from f_mesh where
            mesh_id=#{item.mesh_id} and uid=#{item.uid})),
            <if test="item.scene_id!=null and item.scene_id!=23 and item.scene_id!=21 and item.scene_id!=22" >
                (select id from f_scene where scene_id=#{item.scene_id} and mid=(select id from f_mesh where
                mesh_id=#{item.mesh_id} and uid=#{item.uid})),
            </if>
            <if test="item.scene_id==null ">
                NULL ,
            </if>
            <if test="item.scene_id==23">
                23,
            </if>
            <if test="item.scene_id==21">
                -1,
            </if>
            <if test="item.scene_id==22">
                -2,
            </if>
            #{item.time},
            now(),
            now(),#{item.hour},#{item.minute},#{item.pos_x},#{item.detail_sence_id},#{item.light_status})
        </foreach>
    </insert>

    <update id="updateTname">
        update f_time_line set tname=#{tname},update_date=now() where tid=#{tid} and mid=(select id from f_mesh where mesh_id=#{meshId} and uid=#{uid})
    </update>

    <select id="getByUidAndMeshId" resultType="com.tpadsz.after.entity.TimeBean">
          select tid,mid,json from f_time_json where mid= ( SELECT id FROM f_mesh WHERE
                  mesh_id=#{meshId} AND uid = #{uid} )
    </select>

    <delete id="delete">
        DELETE l.*,p.*
        FROM f_time_line l left join f_time_point p on l.id=p.tsid
        where l.mid=(SELECT id FROM f_mesh WHERE mesh_id = #{meshId} AND uid = #{uid}) and l.tid=#{tid}
    </delete>


    <select id="getOneMeshId" resultType="map">
        select id,mesh_id from create_mesh_id limit 1
    </select>

    <delete id="deleteOneMeshId">
        DELETE FROM create_mesh_id WHERE id=#{id}
    </delete>

    <insert id="insertRepeated">
        INSERT INTO repeated_mesh_id( mesh_id) VALUES ( #{mesh_id});
    </insert>

    <update id="updateTimeLineState" parameterType="com.tpadsz.after.entity.TimePointParams">
            update f_time_line set item_set=#{state} where tid=#{tid} and mid=(SELECT id FROM f_mesh WHERE
                  mesh_id=#{mesh_id} AND uid = #{uid} )
    </update>

    <insert id="insertRolePermission" parameterType="java.util.List">
        INSERT INTO f_role_permission_copy1 (role_id, permission_id) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.role_id},
            #{item.permission_id})
        </foreach>

    </insert>

    <insert id="insertTimeDatail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO f_time_detail( `hour`, `minute`, `pos_x`, `scene_id`, `time`, `tsid`,
        `create_date`,light_status)
        VALUES ( #{hour}, #{minute}, #{pos_x}, #{scene_id}, #{time}, (SELECT id FROM f_time_line WHERE tid = #{tid} AND mid = ( SELECT id FROM f_mesh WHERE
                  mesh_id=#{mesh_id} AND uid = #{uid} )), now(),#{light_status})
    </insert>

    <insert id="createTimeJson">
        INSERT INTO f_time_json(`tid`, `mid`, `json`) VALUES ( #{tid},
        ( SELECT id FROM f_mesh WHERE mesh_id=#{meshId} AND uid = #{uid} ) , #{jsonString})
    </insert>

    <delete id="deleteTimeLine">
        delete from f_time_line where tid=#{tid} and mid=(SELECT id FROM f_mesh WHERE mesh_id=#{meshId} AND uid =
        #{uid} )
    </delete>
    <delete id="deleteTimePoint">
        delete from f_time_point where tsid=(select id from f_time_line where tid=#{tid} and mid=(SELECT id FROM
        f_mesh WHERE mesh_id=#{meshId} AND uid =
        #{uid} ))
    </delete>
    <delete id="deleteTimeDetail">
        delete from f_time_detail where tsid=(select id from f_time_line where tid=#{tid} and mid=(SELECT id FROM
        f_mesh WHERE mesh_id=#{meshId} AND uid =
        #{uid} ))
    </delete>
    <delete id="deleteTimeJson">
        delete from f_time_json where tid=#{tid} and mid=(SELECT id FROM f_mesh WHERE mesh_id=#{meshId} AND uid =
        #{uid})
    </delete>

    <select id="getTimeJson" resultType="com.tpadsz.after.entity.TimeBean">
        select tid,mid,json from f_time_json  where tid=#{tid} and mid=(SELECT id FROM f_mesh WHERE mesh_id=#{meshId} AND uid =
        #{uid})
    </select>

    <update id="updateTimeJson">
        update f_time_json set json=#{json} where tid=#{tid} and mid=(SELECT id FROM f_mesh WHERE mesh_id=#{meshId} AND uid =
        #{uid})
    </update>
</mapper>